<div class="main_bg">
  <!-- start main -->
  <div class="container">
    <div class="main_grid1">
      <h3 class="style pull-left">Single</h3>
      <ol class="breadcrumb pull-right">
        <li><a href="index.html">Home</a></li>
        <li class="active">Single</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="main_btm1">
  <!-- start main_btm -->
  <div class="container">
    <div class="details">
      <h2>{{item?.title}}</h2>

      <ul class="comment-list">
        <h5 class="post-author_head">Written by <a href="#" title="Posts by admin" rel="author">admin</a></h5>
        <li><img src="assets/images/avatar.png" class="img-responsive" alt="">
          <div class="desc">
            <p>View all posts by: <a href="#" title="Posts by admin" rel="author">admin</a></p>
          </div>
          <div [innerHTML]="item?.content">
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="comments-area">
        <h3>Add New Comment</h3>
        <form>
          <p>
            <label>Name</label>
            <span>*</span>
            <input type="text" value="">
          </p>
          <p>
            <label>Email</label>
            <span>*</span>
            <input type="text" value="">
          </p>
          <p>
            <label>Website</label>
            <input type="text" value="">
          </p>
          <p>
            <label>Subject</label>
            <span>*</span>
            <textarea></textarea>
          </p>
          <p>
            <input type="submit" value="Submit Comment">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>