<div class="main_bg">
  <!-- start main -->
  <div class="container">
    <div class="main_grid1">
      <h3 class="style pull-left">Single</h3>
      <ol class="breadcrumb pull-right">
        <li><a href="index.html">Home</a></li>
        <li class="active">Single</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="main_btm1">
  <!-- start main_btm -->
  <div class="container">
    <div class="details">
      <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
      <img src="images/slider2.jpg" alt="" class="img-responsive" />
      <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
      <p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered
        alteration in some form alteration in some form, by injected humour, or randomised words which don't look even
        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
        embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
        predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of
        over 200 Latin words. </p>
      <ul class="comment-list">
        <h5 class="post-author_head">Written by <a href="#" title="Posts by admin" rel="author">admin</a></h5>
        <li><img src="images/avatar.png" class="img-responsive" alt="">
          <div class="desc">
            <p>View all posts by: <a href="#" title="Posts by admin" rel="author">admin</a></p>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="comments-area">
        <h3>Add New Comment</h3>
        <form>
          <p>
            <label>Name</label>
            <span>*</span>
            <input type="text" value="">
          </p>
          <p>
            <label>Email</label>
            <span>*</span>
            <input type="text" value="">
          </p>
          <p>
            <label>Website</label>
            <input type="text" value="">
          </p>
          <p>
            <label>Subject</label>
            <span>*</span>
            <textarea></textarea>
          </p>
          <p>
            <input type="submit" value="Submit Comment">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>