<div class="main_bg">
  <!-- start main -->
  <div class="container">
    <div class="main_grid1">
      <h3 class="style pull-left">Contact us</h3>
      <ol class="breadcrumb pull-right">
        <li><a href="index.html">Home</a></li>
        <li class="active">contact</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="main_btm1">
  <!-- start main_btm -->
  <div class="container">
    <div class="contact">
      <div class="map">
        <iframe width="100%" height="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a
            href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
            style="font-family: 'Open Sans', sans-serif;color:#555555;text-shadow:0 1px 0 #ffffff; text-align:left;font-size:12px;padding: 5px;">View
            Larger Map</a></small>
      </div>
      <p class="style">It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
        'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
        sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <div class="contact_main">
        <div class="col-md-4 company_ad">
          <h2>find Address :</h2>
          <address>
            <p>500 Lorem Ipsum Dolor Sit,</p>
            <p>22-56-2-9 Sit Amet, Lorem,</p>
            <p>USA</p>
            <p>Phone:(00) 222 666 444</p>
            <p>Fax: (000) 000 00 00 0</p>
            <p>Email: <a href="mailto:info@mycompany.com">info(at)mycompany.com</a></p>
            <p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
          </address>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <h2>Contact Us</h2>
            <form method="post" action="contact-post.html">
              <input type="text" value="Name (Required)" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" value="Email (Required)" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" value="Subject" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Subject';}">
              <textarea placeholder="Your Message here...."></textarea>
              <span><input type="submit" value="submit us"></span>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>