<div class="main_bg">
  <!-- start main -->
  <div class="container">
    <div class="main_grid">
      <div class="top_grid">
        <!-- start top_grid -->
        <div class="col-md-9 span1_of_1">
          <h2>some of our top services</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="col-md-3 span1_of_2">
          <a class="btn btn1" href="single-page.html">Read more</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="span_of_4">
        <!-- start span_of_4 -->
        <div class="col-md-3 span1_of_4">
          <div class="span4_of_list">
            <div class="num">01</div>
            <h3>industry's</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s</p>
            <div class="read_more">
              <a class="btn btn-2 active" href="single-page.html">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 span1_of_4">
          <div class="span4_of_list">
            <div class="num">02</div>
            <h3>standard</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s</p>
            <div class="read_more">
              <a class="btn  btn-2b" href="single-page.html">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 span1_of_4">
          <div class="span4_of_list">
            <div class="num">03</div>
            <h3>printing</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s</p>
            <div class="read_more">
              <a class="btn btn-2b" href="single-page.html">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 span1_of_4">
          <div class="span4_of_list">
            <div class="num">04</div>
            <h3> dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s</p>
            <div class="read_more">
              <a class="btn btn-2b" href="single-page.html">read more</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div><!-- end span_of_4 -->
    </div>
  </div>
</div>
<div class="main1_bg">
  <!-- start main1 -->
  <div class="container">
    <div class="main slider_text texxt-center">
      <h4>dio rhoncus</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
  <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">手机网站模板</a></div>
  <!-- start banner -->
  <div id="bannerBg">
    <div id="containingDiv">
      <div id="allinone_carousel_charming">
        <div class="myloader"></div>
        <!-- CONTENT -->
        <ul class="allinone_carousel_list">
          <li><img src="images/slider_pic1.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic2.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic3.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic4.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic5.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic3.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic4.jpg" alt="" class="img-responsive" /></li>
          <li><img src="images/slider_pic5.jpg" alt="" class="img-responsive" /></li>

        </ul>
      </div>
    </div>
  </div>
  <!-- end banner -->
</div>
<div class="main_btm">
  <!-- start main_btm -->
  <div class="container">
    <div class="cau_hide">
      <div class="cursual">
        <!--  start cursual  -->
        <h4>our happy clients<span class="line"></span></h4>
      </div>
      <div id="owl-demo" class="owl-carousel">
        <!----start-img-cursual---->
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c1.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c2.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c3.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c1.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c2.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c3.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c1.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c4.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c1.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c2.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c3.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c1.png" alt="Lazy Owl Image">
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/c2.png" alt="Lazy Owl Image">
          </div>
        </div>
      </div>
      <!----//End-img-cursual---->
    </div>
  </div>
</div>